attr==0.3.2
Babel==2.11.0
colorama==0.4.6
ConfigParser==7.1.0
cryptography==44.0.0
docutils==0.18.1
docutils==0.18.1
filelock==3.16.1
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==7.8.1
matplotlib==3.10.0
pandas==2.2.3
seaborn==0.13.2
streamlit==1.37.1
